<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.smm.bottomnavigationview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.uithree.BottomNaviBarActivity"></activity>
        <activity android:name=".ui.uithree.AllBottonActivity"></activity>
        <activity android:name=".ui.tabhost.TabHostActivity"></activity>

        <activity android:name=".ui.tabhost.TabHost1Activity"></activity>
        <activity android:name=".ui.tabhost.TabHost2Activity"></activity>
        <activity android:name=".ui.tablayout.TabLayoutActivity"></activity>
        <activity android:name=".ui.tablayout.TabLayout1Activity"></activity>
        <activity android:name=".ui.bottonnavigation.BottomNavigationActivity"></activity>
        <activity android:name=".ui.other.OtherActivity"></activity>
        <activity android:name=".ui.uithree.LuseenBottomNavigationActity"></activity>

        <activity android:name=".ui.radiogroup.FristButtonActivity"></activity>
        <activity android:name=".ui.radiogroup.TwoButtonActivity"></activity>
        <activity android:name=".osc.OsActivity"></activity>
        <activity android:name=".ui.uithree.BottomBarActivity"></activity>
        <activity android:name=".ui.uithree.QiHuTabLayoutActivity" />
        <activity android:name=".ui.uithree.NavigationBottomDemoActivity"></activity>
        <activity android:name=".ui.weixin.WeixinActivity"></activity>
    </application>

</manifest>